<div class="row">
  <div class="col-2">
    <label>Select Datasets</label>
    <select size="10" multiple class="form-control" [(ngModel)]="selectedDatasets">
      <option [value]="s" *ngFor="let s of samples">
        {{s}}
      </option>
    </select>
    <button class="btn btn-primary mt-2" (click)="drawScatter()">Redraw</button>
  </div>
  <div class="col-8">
    <plotly-plot [data]="scatterPlotData" [updateOnDataChange]="true" [layout]="scatterPlotLayout"></plotly-plot>
  </div>
</div>


